* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	height: 100vh;
	justify-content: center;
	background: #fffefe;
}

.custom-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	gap: 20px;
}
.custom-input {
	margin-bottom: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 25px;
}
h2 {
	font-size: 35px;
	font-style: italic;
}
.input-file {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	outline: none;
	font-size: 20px;
	margin-bottom: 10px;
	width: 100%;
	background-color: rgb(166, 174, 168);
}
.custom-uploading p {
	text-align: center;
	font-weight: bolder;
	font-size: 20px;
}
.custom-image {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.image {
	width: 250px;
	height: 200px;
	border-radius: 3%;
	object-fit: cover;
	border: 1px solid rgb(229, 221, 221);
}
.image-box {
	margin: 10px;
	text-align: center;
}
.delete {
	margin-top: 5px;
	cursor: pointer;
	background-color: black;
	color: white;
	border: none;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	font-size: 14px;
	line-height: 1;
	padding: 0;
}
.fileName {
	margin-bottom: 5px;
	max-width: 80px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.uploadButton {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	outline: none;
	font-size: 20px;
	color: black;
	margin-bottom: 10px;
	width: 100%;
	background-color: rgb(166, 174, 168);
	cursor: pointer;
}

.success {
	color: #4caf50;
}

.fail {
	color: #f44336;
}
